<a href="/hostbase/" class="sidebar">host search</a><br>
<a href="/hostbase/new" class="sidebar">add a new host</a><br>
<a href="/hostbase/zones" class="sidebar">zone file information</a><br>
<a href="/hostbase/zones/new" class="sidebar">add a zone</a><br>

