/* Page Structure */
#container { float:left; padding:1em 2em 0 1em; background:#FFFFFF; min-width: 650px; min-height:500px; }
#header { width:100%; }
#content-main { float:left; background: #000000; padding:0; }

/*  HEADER  */
#header { background:#000; color:#ffc;}
#header a:link, #header a:visited { color:white; }
#header a:hover { text-decoration:underline; }
#branding h1 { padding:8px; font-size:18px; margin:0; font-weight:normal; color:#f4f379; }
#branding h2 { padding:0 10px; font-size:14px; margin:-8px 0 8px 0; font-weight:normal; color:#ffc; }
#user-tools { position:absolute; top:0; right:0; padding:1.2em 10px; font-size:11px; text-align:right; }

/*SIDEBAR*/
#sidebar {float: left; position: relative; width: auto; height: 100%; padding: 0 1em 3em 1em; color:ffc; min-height:500px;}
a.sidebar:link {color: #fff;}
a.sidebar:active {color: #fff;}
a.sidebar:visited {color: #fff;}
a.sidebar:hover {color: #fff;}
ul.sidebar {
	color: #ffc;
	text-decoration: none;
	list-style-type: none;
	padding: 0 1em 0 1em;
	margin: 12px 0 12px 0;
}
ul.sidebar-level2 {
	text-indent: -2em;
	list-style-type: none;
	font-size: 11px;
}

/* Page Header */
div.header {
	background-color: #DDD;
	padding: 1em;
}
div.header h1 {
	font-size: 18px;
	font-weight: normal;
	padding: 0;
	margin: 0;
}
