#include "site-settings.conf"
encap 2.1       # libencap-2.3.8
platform share
date ${DATE}
contact "${ADMIN_NAME}" <${ADMIN_EMAIL}>
description bcfg2-site-${SITE_SHORTNAME} - bcfg2 configuration for ${SITE_NAME}
prereq pkgspec >= bcfg2-0.8.2
prereq pkgspec >= ostiary-3.4
prereq pkgspec >= runit-1.7.2
exclude etc
exclude sbin
