#mx		->
#priority	->

hostname	->
whatami		->
netgroup	->
security_class	->
support		->
csi		->
printq		->
dhcp		->
outbound_smtp	->
primary_user	->
administrator	->
location	->
expiration_date -> YYYY-MM-DD
comments	->

mac_addr	->
hdwr_type	->
ip_addr		->
#ip_addr	->
cname		->
#cname		->

#mac_addr	->
#hdwr_type	->
#ip_addr	->
#cname		->
