$ORIGIN .
$TTL {{ zone.8 }}
{{ zone.1 }}.	IN SOA	{{ zone.4 }}. {{ zone.3 }}. (
				{{ zone.2 }}	; serial
				{{ zone.7 }}		; refresh interval
				{{ zone.6 }}		; retry interval
				{{ zone.5 }}		; expire interval
				{{ zone.8 }}		; min ttl
				)

			{% for ns in nameservers %}NS 	{{ ns.0 }}
			{% endfor %}
			{% for a in addresses %}A	{{ a.0 }}
			{% endfor %}
			{% for mx in mxs %}MX	{{ mx.0 }} {{ mx.1 }}
			{% endfor %}
$ORIGIN {{ zone.1 }}.
localhost				A	127.0.0.1
