Source: bcfg2
Section: admin
Priority: optional
Maintainer: Narayan Desai <desai@mcs.anl.gov>
Build-Depends: debhelper (>= 4.0.0), python-dev
Standards-Version: 3.6.1.1

Package: bcfg2
Architecture: all
Depends: ${python:Depends}, debsums, python-apt, python-lxml (>= 0.8)
Description: build configuration system
 Bcfg2 is a symbolic configuration management system, 
 produced at Argonne National Lab.
 This is the client side components.

Package: bcfg2-server
Architecture: all
Depends: ${python:Depends}, bcfg2, python-lxml (>= 0.8), python2.3-fam | python2.3-gamin, python-pyopenssl, libxml2-utils, fam | gamin
Description: build configuration system, version two
 Bcfg2 is a symbolic configuration management system, 
 produced at Argonne National Lab.
 This is the server side component.
