Source: bcfg2
Section: admin
Priority: optional
Maintainer: Arto Jantunen <viiru@debian.org>
Uploaders: Sami Haahtinen <ressu@debian.org>
Build-Depends: debhelper (>= 7.0.50~),
	       python (>= 2.6),
	       python-setuptools,
	       python-sphinx (>= 1.0.7+dfsg) | python3-sphinx,
	       python-lxml,
	       python-daemon,
	       python-boto,
	       python-cherrypy3,
	       python-gamin,
	       python-genshi,
	       python-pyinotify,
	       python-m2crypto,
	       python-doc,
	       python-mock,
	       python-mock-doc,
	       dh-python
Standards-Version: 3.8.0.0
Homepage: http://bcfg2.org/

Package: bcfg2
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, debsums, python-apt (>= 0.7.91), ucf, lsb-base (>= 3.1-9), python (>= 2.6)
Description: Configuration management client
 Bcfg2 is a configuration management system that generates configuration sets
 for clients bound by client profiles.
 bcfg2 is the client portion of bcfg2 system which installs configuration
 images provided by bcfg2-server

Package: bcfg2-server
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-lxml (>= 0.9), libxml2-utils (>= 2.6.23), lsb-base (>= 3.1-9), ucf, bcfg2 (= ${binary:Version}), openssl, python (>= 2.6), python-pyinotify | python-gamin, python-daemon, python-genshi (>= 0.4.4)
Recommends: graphviz, patch
Suggests: python-cheetah, python-profiler, python-django (>= 1.3), mail-transport-agent, bcfg2-doc (= ${binary:Version})
Description: Configuration management server
 Bcfg2 is a configuration management system that generates configuration sets
 for clients bound by client profiles.
 bcfg2-server is the server for bcfg2 clients, which generates configuration
 sets and stores statistics of client system states.

Package: bcfg2-web
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, bcfg2-server (= ${binary:Version}), python-django (>= 1.3)
Suggests: python-mysqldb, python-psycopg2, python-sqlite, libapache2-mod-wsgi
Description: Configuration management web interface
 Bcfg2 is a configuration management system that generates configuration sets
 for clients bound by client profiles.
 bcfg2-web is the reporting server for bcfg2.

Package: bcfg2-utils
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, bcfg2 (= ${binary:Version})
Suggests: bcfg2-doc (= ${binary:Version})
Description: Configuration management helper package
 Bcfg2 is a configuration management system that generates configuration sets
 for clients bound by client profiles.
 bcfg2-utils contains scripts for gethering useful information for config
 creation.

Package: bcfg2-doc
Section: doc
Architecture: all
Depends: ${sphinxdoc:Depends}, ${misc:Depends}
Description: Configuration management system documentation
 Bcfg2 is a configuration management system that generates configuration sets
 for clients bound by client profiles.
 bcfg2-doc is the documentation for bcfg2.
