#!/usr/bin/make -f
%:
	dh --with python-support $@

override_dh_installinit:
	# Install bcfg2 initscript without staring it on postinst
	dh_installinit -p bcfg2 --no-start
	# Install everything else normally
	dh_installinit -N bcfg2
