#!/usr/bin/make -f
%:
	dh --with python-support $@

override_dh_installinit:
	# Install bcfg2 initscript without staring it on postinst
	dh_installinit --package=bcfg2 --no-start
	# Install bcfg2-server initscript without staring it on postinst
	dh_installinit --package=bcfg2-server --no-start
