#!/usr/bin/make -f

%:
	dh $@ --with python-support,sphinxdoc

override_dh_auto_install:
	# Make the build destination dir consistent between pre-7.3 and 7.3 and 
	# later debhelper - see http://bcfg2.org/ticket/791
	dh_auto_install
	test -d debian/tmp/usr/local && mv debian/tmp/usr/local/* debian/tmp/usr || exit 0
	test -d debian/tmp/usr/local && rmdir debian/tmp/usr/local || exit 0

override_dh_installinit:
	# Install bcfg2 initscript without starting it on postinst
	dh_installinit --package=bcfg2 --no-start
	# Install bcfg2-server initscript without starting it on postinst
	dh_installinit --package=bcfg2-server --no-start

override_dh_auto_build:
	dh_auto_build
	python setup.py build_sphinx

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
