lxml<4.3.0 ; python_version<'2.7'
lxml ; python_version>='2.7'
python-daemon<2.0.0 ; python_version<'2.7'
python-daemon ; python_version>='2.7'
genshi
argparse

nose
mock
pylint<0.29 ; python_version<'3'
pylint ; python_version>='3'
pep8
sphinx ; python_version>='2.7'
unittest2 ; python_version<'2.7'
