#include "site-settings.conf"
#compiler-settings
commentStartToken = //
#end compiler-settings
[communication]
protocol = xmlrpc/ssl
password = ${BCFG2_PASSWORD}
//if str($SITE_FINGERPRINT) != ""
fingerprint = ${SITE_FINGERPRINT}
//end if

[components]
bcfg2 = https://${BCFG2_SERVER}:${BCFG2_PORT}

[statistics]
sendmailpath = ${SENDMAILPATH}
